<launch>
  <arg name="in" default="data/table_scene_lms400.pcd"/>
  <node name="cloud_loader" pkg="pcl_execution" type="cloud_loader">
      <param name="pcd" value="$(arg in)"/>
  </node>
  <node name="cloud_filter" pkg="pcl_execution" type="cloud_filter" />
  <node name="cloud_downsampler" pkg="pcl_execution" type="cloud_downsampler" />
  <node name="cloud_planar_segmenter" pkg="pcl_execution" type="cloud_planar_segmenter" />
  <node name="cloud_clusterer" pkg="pcl_execution" type="cloud_clusterer" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find pcl_execution)/rviz/clustering.rviz" required="true" />
</launch>
